#search-wrapper {position: relative;}

#search-wrapper #results
{
    height: auto;
    max-height: 200px;
    overflow-y: scroll;
    position: absolute;
    top: 38px;
    left: 0;
    background: #fff;
    width: 100%;
    border: 1px solid #eee;
    border-top: none;
    border-radius: 5px;
    margin: 0 11px;
}

#search-wrapper #results ul li
{
    width: 100%;
    border-bottom: 1px solid #333;
}

#search-wrapper #results ul li:last-child {border-bottom: none;}


#search-wrapper #results ul li a
{
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
}
